@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #448fd6e1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #328adc; 
}


h1 {
  @apply text-5xl lg:text-4xl md:text-4xl font-bold;
}
h2 {
  @apply text-3xl  font-semibold;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-base;
}

p{
  @apply text-sm;
  line-height: normal;
}
span{
  @apply text-sm lg:text-[12.5px] 
}